.Rproj.user
.Rhistory
.RData
.Ruserdata

myauthentication.rda
cps_results.xlsx

libs/
formative_assignment_students/
summative_assignment_[0-9]_students/


session_[0-9]_slides.html
session_[0-9][0-9]_slides.html

session_[0-9]_slides_files/
session_[0-9][0-9]_slides_files/

some_disapproval_emoji_tweets.json
some_approval_emoji_tweets.json

summative-assignment-3-partA-solutions.Rmd
summative-assignment-3-partB-solutions.Rmd
single-linkage.jpg

RD_*

