.Rproj.user
.Rhistory
.RData
.Ruserdata

cps_results.xlsx

libs/
figures/
formative_assignment_students/
summative_assignment_[0-9]_students/


session_[0-9]_slides.html
session_[0-9][0-9]_slides.html

session_[0-9]_slides_files/
session_[0-9][0-9]_slides_files/



summative-assignment-1-partA-solutions.Rmd
summative-assignment-1-partB-solutions.Rmd



